{
    "status_checks": [
        {
            "name": "Site (Prod)",
            "url": "https://your.domain.com",
            "statusPageComponentId": "123215125"
        }
    ],
    "notification": {
        "smtp_sender_id": "",
        "smtp_sender_apikey": "",
        "sms_email": ""
    },
    "status_page": {
        "api_key": "status_page_api_key",
        "page_id": "status_page_page_id"
    }
}