{
    "status_checks": [
        {
            "name": "Site (Prod)",
            "url": "https://your.domain.com",
            "statusPageComponentId": "123215125"
        }
    ],
    "notification": {
        "smtp_sender_id": "",
        "smtp_sender_apikey": "",
        "sms_email": ""
    },
    "statusPage": {
        "apiKey": "status_page_api_key",
        "pageId": "status_page_page_id"
    }
}